<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="gradient d-flex align-items-center justify-content-center">

    <img src="../static/images/logo.png" alt="" class="logo col-sm-12 col-lg-8 col-xl-4 m-auto">

    <div class="glass-board mx-auto col-xl-8 col-lg-8 col-sm-8 p-3 rounded pt-5 m-auto" style="position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center"><h1 class="bold-text display-4">Морозов</h1></div>
                <div class="col-lg-8 col-md-12 d-flex justify-content-evenly align-items-center">
                    <h3><a href="#" class="p a-active">Главная</a></h3>
                    <h3><a href="portfolio.html" class="p text-decoration-none underline-animation">Портфолио</a></h3>
                    <h3><a href="contacts.html" class="p text-decoration-none underline-animation">Контакты</a></h3>
                </div>
            </div>

            <div class="row mt-5 mb-3">
                <div class="col-8 p-text">
                    <p>Привет,</p>
                    <p>Меня зовут <strong>Морозов Григорий</strong></p>
                    <p>Я изучал python в Лицее академии Яндекса. C# самостоятельно, С++ в школе</p>
                    <p>Я хочу стать React разработчиком</p>
                    <div class="d-flex align-items-center">
                        <span class="badge rounded-pill border me-3" style="background-color: #3475A8">python</span>
                        <span class="badge rounded-pill border me-3" style="background-color: #9A4F96">C#</span>
                        <span class="badge rounded-pill border" style="background-color: #00589D">C++</span>
                    </div>
                </div>

                <div class="col-4">
                    <img src="../static/images/me.jpg" alt="max.jpg" class="rounded-circle" style="border: 4px solid #4871CB; width: 60%; height: auto">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-8 col-sm-12 d-flex justify-content-evenly">
                    <a href="portfolio.html" class="btn btn-primary" style="background-color: #4871cb!important; font-weight: 500">Портфолио</a>
                    <a href="contacts.html" class="btn btn-outline-primary outline-button">Контакты</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
